{% extends "base.htm" %}

{% block header_title %}用户注册{% end %}
{% block body %}
<div class="am-g">
  <div class="am-u-lg-5 am-u-md-6 am-u-sm-centered">
    <div class="am-text-center am-margin-top-lg"><h2>注册</h2></div>
    <hr>

    <form class="am-form am-form-horizontal" method="post">
    {% if error %}
      <div class="am-alert am-alert-danger" data-am-alert>
          <button type="button" class="am-close">&times;</button>
          <p>{{ error }}</p>
      </div>
    {% end %}

      <div class="am-form-group">
        <label for="doc-ipt-3" class="am-u-sm-3 am-form-label">用户名</label>
        <div class="am-u-sm-9">
          <input type="text" id="doc-ipt-3" name="username" placeholder="">
        </div>
      </div>

      <div class="am-form-group">
        <label for="doc-ipt-pwd-1" class="am-u-sm-3 am-form-label">密码</label>
        <div class="am-u-sm-9">
          <input type="password" id="doc-ipt-pwd-1" name="password" placeholder="">
        </div>
      </div>

      <div class="am-form-group">
        <label for="doc-ipt-pwd-2" class="am-u-sm-3 am-form-label">重复密码</label>
        <div class="am-u-sm-9">
          <input type="password" id="doc-ipt-pwd-2" name="repassword" placeholder="">
        </div>
      </div>

      <div class="am-form-group">
        <div class="am-text-right am-u-sm-12">
            <a href="/login" class="am-btn am-btn-default">登录</a>
            <button type="submit" class="am-btn am-btn-secondary">注册平台</button>
        </div>
      </div>
    {% raw xsrf_form_html() %}
    </form>

    <hr>
    <p class="am-text-center">© 2015 Powered by Pegasus.</p>
  </div>
</div>
{% end %}